
@{
    ViewData["Title"] = "Details";
}

@model AllPerson
<h1>Details</h1>
<hr />
<label>Id:</label> 
<label>@Model.Id</label>
<br />
<label>FirstName:</label>
<label>@Model.FirstName</label>
<br />
<label>LastName:</label>
<label>@Model.LastName</label>
<br />
<label>Date of birth:</label>
<label>@Model.DateOfBirth</label>
<br />
<label>Gender:</label>
<label>@Model.Gender</label>
<br />
<label>CNIC:</label>
<label>@Model.Cnic</label>
<br />
<label>Father:</label>
<label>@Model.Father</label>
<br />
<label>Mother:</label>
<label>@Model.Mother</label>
<br />


